services:
    mysql:
        image: mysql:5.7
        restart: always
        environment:
            MYSQL_DATABASE: laboratoriolaredo
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3306:3306"
        volumes:
            - ./mysql_data:/var/lib/mysql

    backend:
        build: .
        ports:
            - "8000:8000"
            - "8080:8080"
        env_file:
            - .env
        depends_on:
            - mysql
        volumes:
            - ./storage:/var/www/html/storage

    frontend:
        build: ./frontend
        ports:
            - "5173:80"
        depends_on:
            - backend
